@page
@model NorthwindHCI.Pages.DetailsModel
@{
    var queryList = Model.query;

}

<div>
    <h2>Details:</h2>
    @foreach (var item in queryList)
    {
        <p>@item.CategoryId</p>
        <p>@item.CategoryName</p>
        <p>@item.Description</p>
    }
</div>
