@page
@model IndexModel
@using NorthwindHCI.Models.NW
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @foreach (Category category in Model.CategoriesInDB!)
    {
        <p><a asp-page="./Details" asp-route-categoryName="@category.CategoryName">@category.CategoryName</a></p>   
    }
</div>
